# OS files
.DS_Store
Thumbs.db

# Pycharm files
.idea/
*.iml

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
.eggs/

# Logs
*.log
*.pid
*.seed
*.swp
*.tmp
*.bak

# Build
build/
dist/
*.spec

# Dependencies
venv/
env/
*.venv/
pip-log.txt

# Tests
.coverage
.tox/
.cache/
pytest_cache/
htmlcov/

# Environment files
.env

# Settings tools
mypy_cache/
pylint.log
pyrightconfig.json

# Container files
*.dockerignore
*.tar.gz

# Lock and dependencies
poetry.lock
Pipfile.lock

# Other IDE files
*.sublime-project
*.sublime-workspace
.vscode/

src/assets/signature.png